<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>EventosApp</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	 <div th:replace="@{fragments/navIndex} :: navbar"></div>  

	<div class="site-section bg-light">
		<div class="container">
			<div class="row align-items-stretch retro-layout-2">
				<div class="col-md-4">

					<a th:each="tempEvent : ${events}" th:href="@{/event/showEvent(eventId=${tempEvent.id})}" class="h-entry mb-30 v-height gradient"
						style="background-image: url('images/img_1.jpg')">
						<h2 th:text="${tempEvent.name}" />
						<span class="date" th:text="${tempEvent.date}" />
					</a>

				</div>

			</div>
		</div>
	</div>
</body>
</html>